<h1><%= @user.name %>さんの面接日時一覧</h1>

<% if @interview_approval.present? %>
  <h3>現在の面接日時 : <%= @interview_approval.datetime %></h3>
<% end %>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th><div class="text-center">面接開始時間</div></th>
      <th><div class="text-center">承認状態</div></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interviews.each do |interview| %>
      <tr>
        <td><div class="text-center"><%= interview.datetime %></div></td>
        <td><div class="text-center"><%= interview.interview_condition_i18n %></div></td>
        <td><div class="text-center">
          <% if current_user?(interview.user) %>
            <%= link_to "編集", edit_interview_path(interview.id), class: "btn btn-warning" %>
            <%= link_to "削除", interview, method: :delete,
                                data: { confirm: "本当によろしいですか？" },
                                class: "btn btn-danger" %>
          <% else %>
            <% if interview.interview_condition == "approval" %>
              <%= button_to "却下", interview_path(interview.id), method: :put,
                                  params: { interview: { interview_condition: "denial" } },
                                  data: { confirm: "承認されている面接日時を却下にします。\n本当によろしいですか？" },
                                  class: "btn btn-dark" %>
            <% else %>
              <%= button_to "承認", confirm_user_interview_path(@user.id, interview.id), method: :put,
                                    params: { interview: { interview_condition: "approval" } },
                                    data: { confirm: interview.datetime + "で面接日時を確定してよろしいですか？" },
                                    class: "btn btn-success" %>
            <% end %>
          <% end %>
        </div></td>
      </tr>
      <% end %>
  </tbody>
</table>

<% if current_user?(@user) %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to "面接日時追加", new_interview_path, class: "btn btn-info" %>
  </div>
</div>
<% end %>
