<h1>ユーザー一覧</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th><div class="text-center">名前</div></th>
      <th><div class="text-center">メールアドレス</div></th>
      <th><div class="text-center">年齢</div></th>
      <th><div class="text-center">性別</div></th>
      <th><div class="text-center">学校名</div></th>
      <th><div class="text-center">面接日時</div></th>
      <th><div class="text-center">面接一覧</div></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><div class="text-center"><%= user.name %></div></td>
        <td><div class="text-center"><%= user.email %></div></td>
        <td><div class="text-center"><%= user.age %></div></td>
        <td><div class="text-center"><%= user.gender %></div></td>
        <td><div class="text-center"><%= user.school %></div></td>
        <td><div class="text-center">
          <% if user.interviews.approval.present? %>
            <%= user.interviews.find_by(interview_condition: "approval").datetime %>
          <% end %>
        </div></td>
        <td><div class="text-center"><%= link_to "面接一覧", user_interviews_path(user) %></div></td>
      </tr>
     <% end %>
  </tbody>
</table>
