<h1>ユーザー情報</h1>

  <% if @user.name.blank? %>
  <% flash.now[:danger] = 'プロフィールを作成してください。' %>
  <% end %>

    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th><div class="text-center">名前</div></th>
          <th><div class="text-center">メールアドレス</div></th>
          <th><div class="text-center">年齢</div></th>
          <th><div class="text-center">性別</div></th>
          <th><div class="text-center">学校名</div></th>
        </tr>
      </thead>

      </tbody>
        <tr>
        <td><div class="text-center"><%= @user.name %></div></td>
        <td><div class="text-center"><%= @user.email %></div></td>
          <% if @user.birthday.blank? %>
            <td><div class="text-center"></div></td>
          <% else %>
            <td><div class="text-center">
              <%= (Date.today.strftime("%Y%m%d").to_i - @user.birthday.strftime("%Y%m%d").to_i) / 10000 %>
            </div></td>
          <% end %>
        <td><div class="text-center"><%= @user.gender %></div></td>
        <td><div class="text-center"><%= @user.school %></div></td>
        </tr>
      </tbody>
    </table>
