<h1>マイプロフィール</h1>


    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th><div class="text-center">名前</div></th>
          <th><div class="text-center">メールアドレス</div></th>
          <th><div class="text-center">年齢</div></th>
          <th><div class="text-center">性別</div></th>
          <th><div class="text-center">学校名</div></th>
        </tr>
      </thead>

      </tbody>
        <tr>
        <td><div class="text-center"><%= @user.name %></div></td>
        <td><div class="text-center"><%= @user.email %></div></td>
        <td><div class="text-center"><%= @user.age %></div></td>
        <td><div class="text-center"><%= @user.gender %></div></td>
        <td><div class="text-center"><%= @user.school %></div></td>
        </tr>
      </tbody>
    </table>
