<!DOCTYPE html>
<html>
  <head>
    <title>ENavigator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "e-navigator", current_user, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
              <li><%= link_to "ユーザー一覧", users_path %></li>
              <li><%= link_to "自分の面接日時一覧", user_interviews_path(current_user) %></li>
              <li><%= link_to "プロフィール修正", edit_user_path(current_user) %></li>
              <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "ログイン", login_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
      <div class="container">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
        <%= yield %>
      </div>
    </body>
</html>
